
@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>

<div class="progress-bar-success">
    <h3> Thanks For Ordering </h3>
    <h4> You will be Contected Very Soon..<</h4>
</div>

<div>
    @Html.ActionLink(" Go Back To Home ","Index","Home")
</div>